#os > h5 {
    background-color: #ffcccb;
    color: #ab47bc;
}

#hardware > h5 {
    background-color: #b2ff59;
    color: #00897b;
}

#user > h5 {
    background-color: #e1f5fe;
    color: #039be5;
}