html {
    font-family: sans-serif;
    background-color: cadetblue;
}

.code {
    font-family: 'Roboto Mono', monospace;
    color: #e60d0d;
    background-color: #ffcdcd;
}

.card {
    min-width: 300px;
}

body {
    margin: 0px;
}

#container {
    padding-top: 10px;
    width: 98%;
}

#name {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: yellow;
    background-color: #6200EA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-text {
    margin-left: 5px;
}
.progress {
    height: 30px !important;
    font-size: 1.2rem !important;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
